@tailwind base;
@tailwind components;
@tailwind utilities;

/**==================================================================
**			Font 
**=================================================================*/
@font-face {
  font-family: "IBMPlexSans";
  font-weight: normal;
  src: url("IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBMPlexSans";
  font-weight: 600;
  src: url("IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "IBMPlexSans";
  font-weight: 900;
  src: url("IBMPlexSans-Bold.ttf");
}

/**==================================================================
**			Base colors
**=================================================================*/
html,
body {
  background-color: red;
  color: theme(colors.white);
}

/**==================================================================
**			Scrollbar
**=================================================================*/
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-zinc-900/10; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.zinc.400); /* color of the scroll thumb */
  border-radius: 999px; /* roundness of the scroll thumb */
}

/**==================================================================
**			Svelte Navigator on navigate focus outline visisble hiding
**=================================================================*/
h1,
h2,
h3,
h4,
h5 {
  &:focus {
    outline: rgba(0, 0, 0, 0.01) solid 1px;
  }
}

/**==================================================================
**			Long body text
**=================================================================*/
.prose_ {
  & p {
    @apply mt-1 text-zinc-400;
  }
  & h3 {
    @apply mt-16 mb-4 text-center text-3xl font-bold;
  }

  & *::selection {
    text-shadow: none;
  }

  & a {
    @apply font-medium;
  }

  > .subtext {
    font-size: 12px;
    font-weight: medium;
    color: theme(colors.zinc[400]);
    text-align: center;
  }

  & > img,
  & > video {
    min-width: none;
    margin-left: 0px;
    margin-top: 2rem;
    @apply rounded-2xl shadow-md;

    @media screen(md) {
      min-width: 130%;
      margin-left: -15%;
    }
  }
}
